body {
    margin: 0;
    padding: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    overflow: hidden;
    background-color: #333; 
}

/* Rotating background */
.background {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 1331vw; 
    height: 220vh; 
    background-image: url('simonsays.jpg'); 
    background-size: contain; 
    background-repeat: no-repeat; 
    background-position: center; 
    transform: translate(-50%, -50%);
    z-index: -1; 
    animation: rotateBackground 15s infinite linear; 
}

@keyframes rotateBackground {
    0% {
        transform: translate(-50%, -50%) rotate(0deg);
    }
    100% {
        transform: translate(-50%, -50%) rotate(360deg);
    }
}

.layout {
    position: relative;
    z-index: 1; 
    text-align: center;
    color: white;
    margin-top: 300px; 
}

h1 {
    font-size: 3.5rem;
    margin-top: -300px;
    text-align: center;
}

h2 {
    font-size: 3.5rem;
    margin-top: 370px; 
    text-align: center;
}
.start-btn {
    padding: 20px 50px;
    font-size: 22px;
    background-color: lightblue;
    border: none;
    border-radius: 10px;
    cursor: pointer;
}

.start-btn:hover {
    background-color: rgb(144, 0, 74);
    color: white;
}

body::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(45deg, rgba(0, 0, 0, 0.5), rgba(255, 255, 255, 0.2)); 
    z-index: -2; 

}
